<footer>
  <nav>
    <ul>
      <li>
        <a
          href="https://github.com/orbanszlrd/issuetracker.odev.hu"
          title="GitHub"
          target="_blank"
        >
          <fa-icon [icon]="faGithub" size="lg"></fa-icon>
        </a>
      </li>
      <li>
        <a
          href="https://www.facebook.com/opofa"
          title="Facebook"
          target="_blank"
        >
          <fa-icon [icon]="faFacebook" size="lg"></fa-icon>
        </a>
      </li>
      <li>
        <a
          href="https://www.instagram.com/orbanszlrd"
          title="Instagram"
          target="_blank"
        >
          <fa-icon [icon]="faInstagramSquare" size="lg"></fa-icon>
        </a>
      </li>
      <li>
        <a
          href="https://www.youtube.com/orbanszlrd"
          title="Youtube"
          target="_blank"
        >
          <fa-icon [icon]="faYoutube" size="lg"></fa-icon>
        </a>
      </li>
      <li>
        <a
          href="https://www.twitter.com/tatry_hu"
          title="Twitter"
          target="_blank"
        >
          <fa-icon [icon]="faTwitter" size="lg"></fa-icon>
        </a>
      </li>
    </ul>
  </nav>
</footer>
